:root {
    font-size: 16px;
    font-family: 'Open Sans';
    --text-primary: #566984;
    --text-secondary: white;
    --text-tertiary: white;
    --bg-primary: #f6f8fa;
    --bg-secondary: #24292f;
    --bg-tertiary: #31373f;
    --transition-speed: 600ms;
}

.light {
    --text-primary: #566984;
    --text-secondary: white;
    --text-tertiary: white;
    --bg-primary: #f6f8fa;
    --bg-secondary: #24292f;
    --bg-tertiary: #31373f;
}

.dark {
    --text-primary: #a7b2bc;
    --text-secondary: #c6c6c6;
    --text-tertiary: --var(text-primary);
    --bg-primary: #1c2128;
    --bg-secondary: #22272e;
    --bg-tertiary: #2d333b;
}

.remove-highlight {
    -moz-user-select: none; 
    -webkit-user-select: none; 
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

body::-webkit-scrollbar {
    width: 0.25rem;
}

body::-webkit-scrollbar-track {
    background-color: #000000;
}

body::-webkit-scrollbar-thumb {
    background-color: #ffffff;
}

body {
    color: var(--text-primary);
    background-color: var(--bg-primary);
    margin: 0;
    padding: 0;
}

main {
    margin-left: 5rem;
    padding: 0 1rem 0 1rem;
}

.line {
    border-bottom: 3px solid black;
    margin: 2rem 0;
}

/* title */

.title-container {
    display: flex;
    margin: 0;
    padding: 0;
}

.title {
    font-size: 3.5rem;
    font-family: 'Bebas Neue';
    width: 100vw;
    margin: 3rem 0 0.5rem 0;
    text-align: center;
}

/* main text body */
.main-body {
    display: flex;
    margin: 0;
    padding: 2.5rem 5rem;
}

.main-text {

}


/* navigation bar */

.navbar {
    width: 5rem;
    height: 100vh;
    position: fixed;
    background-color: var(--bg-secondary);
    transition: width 200ms ease;
}

.navbar:hover {
    width: 16rem;
}

.navbar:hover .link-text {
    display: block;
}

.nav-container {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.nav-item {
    width: 100%;
}

.nav-item:last-child {
    margin-top: auto;
}

.nav-link {
    display: flex;
    align-items: center;
    height: 5rem;
    color: var(--text-tertiary);
    text-decoration: none;
    filter: grayscale(100%) opacity(0.7);
    transition: var(--transition-speed);
}

.nav-link:hover {
    filter: grayscale(0%) opacity(1);
    background: var(--bg-tertiary);
    color: var(--text-secondary);
}

.nav-link svg {
    min-width: 2rem;
    margin: 0 1.5rem;
}

.link-text {
    display: none;
    margin-left: 1rem;
    animation: fadeInText ease 400ms;
}

@keyframes fadeInText {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.clickable {
    cursor: pointer;
}

.svg-primary {
    fill: #ff7eee;
}

input[id=checkbox] {
    display: none;
}

/* slideshow */

.slider-container {
    display: flex;
    justify-content: center;
    margin-top: 20vh;
    margin: 0;
    padding: 0;
}

.slider {
    width: 800px;
    height: 500px;
    border-radius: 10px;
    border-style: solid;
    border-color: #24292f;
    overflow: hidden;
}

.slides {
    width: 500%;
    height: 500px;
    display: flex;
}

.slides input[name="radio-button"] {
    display: none;
}

.slide {
    width: 20%;
    transition: 2s;
}

.slide img {
    width: 800px;
    height: 500px;
}

.manual-scroll {
    position: absolute;
    width: 800px;
    margin-top: 460px;
    display: flex;
    justify-content: center;
}

.manual-button {
    border: 2px solid white;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.manual-button:not(:last-child) {
    margin-right: 40px;
}

.manual-button:hover {
    background: white;
}

#radio1:checked ~ .first {
    margin-left: 0;
}

#radio2:checked ~ .first {
    margin-left: -20%;
}

#radio3:checked ~ .first {
    margin-left: -40%;
}

#radio4:checked ~ .first {
    margin-left: -60%;
}

.auto-scroll {
    position: absolute;
    width: 800px;
    margin-top: 460px;
    display: flex;
    justify-content: center;
}

.auto-scroll div {
    border: 2px solid white;
    padding: 5px;
    border-radius: 10px;
    transition: 1s;
}

.auto-scroll div:not(:last-child) {
    margin-right: 40px;
}

#radio1:checked ~ .auto-scroll .auto-button1 {
    background: white;
}

#radio2:checked ~ .auto-scroll .auto-button2 {
    background: white;
}

#radio3:checked ~ .auto-scroll .auto-button3 {
    background: white;
}

#radio4:checked ~ .auto-scroll .auto-button4 {
    background: white;
}

.manual-arrows {
    position: absolute;
    display: flex;
}

#arrow1, #arrow2 {
    cursor: pointer;
    border: none;
    width: 2em;
    height: 2em;
    background: url(../img/slider/arrow.svg);
}

#arrow1 {
    transform: rotate(-90deg) scale(3) translate(-80px, 5px);
}

#arrow2 {
    transform: rotate(90deg) scale(3) translate(82.5px, -245px);
}